#Main
{
    width: 97%;
    height: 97%;
}

#transbox
{
    margin: 30px;
    background-color: #01579B;
    border: 6px solid white;
    opacity: 0.6;
    filter: alpha(opacity=60);

    position: absolute;
    bottom: 0;
    left: 0%;
    transform: translateX(0%);
}

#transbox div
{
    width: 260px;
    text-align: left;
    position: relative;
    margin: 3px;
    font-weight: bold;
    font-family: Helvetica;
    color: #ffffff;
}
